* {
    margin: 0;
    padding: 0;
}


body {
    /* background-color: #548687; */
    background-image: url("./backgroungimg.jpg");
    text-align: center;
    color: greenyellow;
    font-size: 3vmin;
}

#msg {
    color: red;
    font-size: 8vmin;
    font-weight: 800;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.hide {
    display: none;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    font-size: 8vmin;
    color: #b0412e;
    background-color: blanchedalmond;
    cursor: pointer;
}

#new-btn {
    padding: 1rem;
    font-size: 1rem;
    color: whitesmoke;
    background-color: darkred;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

#reset-btn {
    padding: 1rem;
    font-size: 1rem;
    color: whitesmoke;
    background-color: darkred;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.winner {
    /* background-color: #8eff8e; */
    background-image: url("./Winnerimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.msgturn-container {
    height: 15vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

#msg-turn {
    color: greenyellow;
    font-size: 5vmin;
}

.secrete {
    display: none;
}

.tie {
    background-image: url("./tieImage.jpg");
}